html, body {
	height: 100%;
}


.app-container {
	padding: 12px;
	padding-bottom: 0px;
}

.table {
	margin-bottom: 0px;
}

.app {
	padding: 0px;
	position: relative;
}

.panel-default {
	border-radius: 0px;
	margin-bottom: 0px;
}


.left-panel .panel-default > .panel-heading {
	background-color: #00a3cc;
	background-image: none;
	color: #ffffff;
	font-weight: 700;
	border-color: #00a3cc;
	border-radius: 0px;
}
.left-panel .panel-default {
	border: solid 2px #00a3cc;
	height: 100%;
	overflow: hidden;
}
.left-panel, .patient-info {
	height: calc(100vh - 12px);
}
.patient-info {
	padding-bottom: 12px;
}


.right-panel .panel-body {
	padding: 0px;
}

.right-panel .panel-default {
	height: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	overflow-y: scroll;
	-ms-overflow-style: none;
	overflow: -moz-scrollbars-none;
}
.right-panel .panel-default::-webkit-scrollbar { width: 0 !important }

.right-panel {
	height: calc(100vh - 12px);
	padding-bottom: 12px;
}
.panel-heading {
	height: 42px;
}
.right-panel .panel-default > .panel-heading {
	background-color: #eee;
	background-image: none;
	border-radius: 0px;
}
.right-panel .panel-default {
	border: 0px;
	filter: progid:DXImageTransform.Microsoft.shadow(direction=120, color=#000000, strength=10);
	box-shadow: 0 0 5px rgba(30,30,30,0.5);
}


.tab {
	width: 160px;
	text-align: center;
	position: relative;
	float: left;
	height: 32px;
	margin: 0px;
	padding: 0px;
	cursor: pointer;
}
.tab-active {
	color: #00a3cc;
	border-bottom: solid 3px #00a3cc;
}
thead {
	color: #a9a9a9;
}
tbody {
	cursor: pointer;
}


.left-panel .panel-body .col-xs-12 {
	padding-left: 0px;
}

.info {
	margin-bottom: 16px;
}
.info-data {
	border-bottom: solid 1px #ddd;
}


.selected {
	background-color: #dadada !important;
	border-left: solid 3px #00a3cc;
}
tbody tr:hover {
	background-color: #eee !important;
}







